name: ci-tests

on:
  pull_request:
  push:

env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  unit-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: "adopt@1.8"
      - name: Build and Unit Tests
        run: sbt -v -Dfile.encoding=UTF-8 +clean +test

  coverage:
    name: Code Coverage
    strategy:
      matrix:
        scala: [2.12.17, 2.13.7]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: "adopt@1.8"
      - name: Coverage for Scala 2 (until Scala 3 is available)
        run: sbt ++${{ matrix.scala }} clean coverage test
      - name: Coverage Report
        run: sbt ++${{ matrix.scala }} coverageReport
      - name: Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: false # optional (default = false)
          flags: unittests
